.TodoList .searchbar{

    width: 100%;

    box-sizing: border-box;
    padding: 15px;
    margin-bottom:  20px;


    border: none;
    border-bottom:  1px solid black;
}


.ToList  .list_wrapper{

    display: flex;
    flex-direction:  column;
    gap:20px;
}