

.App3{

width: 500px;
border: 1px solid black;
margin: 0 auto;
padding: 20px;
box-sizing: border-box;

}

.App3 section{

background-color: aliceblue;
padding: 20px;
margin-bottom: 10px;

border-radius: 10px;

}